/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* FONT */
/* root */
:root {
    --color-pr: #ffffff;
    --color-sc: #B6895B;
    --color-pad: #063251;
    --color-fr: #0B192C;
    --font-pr: 'Poppins';
    --font-sc: 'Raleway';
    --pad-pr : 0 2% 0;
}

html {
    padding: var(--pad-body);
    background-color: #010101;
}
/* HEADER */
header {
    background-image: url('../img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
    position: relative;
}
/* nav */
nav {
    display: flex;
    align-items: center;
    gap: 11.5rem;
    padding: 2% 2%;
}
.show-navbar {  /* for JS */
    background-color: rgba(30, 32, 30, .5);
}
.title {
    font-family: var(--font-pr);
    color: var(--color-pr);
    font-style: italic;
    font-size: 1.5rem;
    font-weight: bold;
}
.title span {
    color: var(--color-sc);
}
.navbar-nav {
    display: flex;
    gap: 6rem;
}
.navbar-nav a{
    text-decoration: none;
    color: var(--color-pr);
    font-family: var(--font-pr);
    font-size: 1.1rem;
}
.navbar-nav a::after {
    content: '';
    padding-bottom: .3rem;
    border-bottom: 2px solid var(--color-sc);
    display: block;
    transform: scale(0);
    transition: .3s linear;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}
.navbar-nav a:hover::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.feather {
    color: var(--color-pr);
    display: flex;
    gap: 2rem;
}
.feather:hover {
    color: var(--color-sc);
}
#menu {
    display: none;
}

/* content section */
header .content {
    padding: var(--pad-pr);
    margin-top: 8rem;
    color: var(--color-pr);
}
header .content h1 {
    font-family: var(--font-pr);
    font-size: 4rem;
    font-weight: 700;
    width: 50%;
    line-height: 4.5rem;
}
header .content h1 span{
    color: var(--color-sc);
    font-style: italic;
}
header .content p {
    font-family: var(--font-sc);
    width: 40%;
    margin-top: 1rem;
    font-weight: 200;
    line-height: 1.3rem;
    margin-bottom: 1.6rem;
}
header .content a {
    text-decoration: none;
    color: var(--color-pr);
    font-family: var(--font-sc);
    font-weight: 500;
    padding: .5rem 1rem;
    border: 2px solid black;
    border-radius: 30px;
    transition: .2s ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}
header .content a:hover {
    background-color: white;
    border: none;
    color: #010101;
}

/* About us section */
section {
    margin-top: 6rem;
    padding: var(--pad-pr);
}
section h1.title {
    color: white;
    text-align: center;
    margin-bottom: 5rem;
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 700;
}
section h1 span {
    color: #B6895B;
    font-style: italic;
}
.section {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 10rem;
}
.section img {
    width: 50rem;
    height: 25rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
.section .content {
    color: var(--color-pr);
}
.section .content h1 {
    font-family: var(--font-pr);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}
.section .content p {
    font-family: var(--font-sc);
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.6rem;
}



/* Media breakpoint */
@media screen and (max-width:630px) {
    html{
        font-size: 50%;
    }
    nav {
        gap: 16.4rem;
        padding: 5% 2%;
        align-items: center;
    }
    .navbar-nav {
        display: none;
    }
    .title {
        font-size: 2rem;
    }
    .ham {
        color: white;
    }
    #menu {
        display: block;
    }
    /* content section */
    .content {
        margin-top: 20rem;
    }
    .content h1 {
        min-width: 90%;
        font-size: 5rem;
    }
    .content p {
        min-width: 70%;
        font-weight: 200;
        mix-blend-mode: difference;
        margin-bottom: 3rem;
        line-height: 1.5rem;
    }
    .content a {
        border: 1px solid #B6895B;
        padding: 1rem 2.5rem;
        font-weight: 300;
        font-size: 1.3rem;
    }
    .content a:hover {
        background-color: white;
        color: var(--color-sc);
        font-weight: 400;
    }
    
}
/* Tab */
@media screen and (min-width:631px) {
    hmtl {
        font-size: 70%;
    }
}
/* Desktop */